---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/cards/feature-01.webp'
import feature02 from '../../../assets/cards/feature-02.webp'
import feature03 from '../../../assets/cards/feature-03.webp'
import feature04 from '../../../assets/cards/feature-04.webp'
import feature05 from '../../../assets/cards/feature-05.webp'
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">Nuestros <strong>Beneficios</strong></h2>
			<p class="pb-0 text-lg">
				¡Descubre cómo estos beneficios transforman tu camino hacia la independencia económica y la crianza digna!
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="4">
			<Card
				title="Intercambio de servicios"
				subtitle="Accede a un directorio exclusivo con servicios para ti y tus hijos con descuentos especiales al formar parte de nuestra red."
				image={feature01}
				
			/>
		</Col>
		<Col span="4">
			<Card
				title="Red de apoyo local con propósito"
				subtitle="Conecta con mamás cercanas que comparten tus desafíos y metas, creando relaciones que te fortalecen."
				image={feature02}
				
			/>
		</Col>
		<Col span="4">
			<Card
				title="Elige cómo avanzar"
				subtitle="Ofrece tus propios descuentos, haz trueque o intercambia tus productos y servicios para contribuir a una red de mujeres."
				image={feature03}
				
			/>
		</Col>

		<Col span="4">
			<Card
				title="Empoderamiento comunitario para crecer juntas"
				subtitle="Sé parte de un espacio que promueva tu independencia económica mientras fortaleces la unión con otras mamás autónomas."
				image={feature04}
				
			/>
		</Col>
		
		<Col span="4">
			<Card
				title="Acceso a recursos diseñados para ti"
				subtitle="Disfruta de talleres, eventos y contenido creado especialmente para mamás autónomas, impulsando tu desarrollo personal y profesional."
				image={feature05}
				
			/>
		</Col>

		<Col span="4">
    			<Card
        			title="Actividades para tus hijos"
        			subtitle="Explora talleres, eventos y experiencias diseñados para el desarrollo y entretenimiento de tus pequeños mientras tú trabajas o te capacitas."
        			image={feature06}
    			/>
		</Col>
	</Row>
</Section>
